@use "../helpers/" as *;

// - Font size: 18px (card titles e.g. Work, Play)

h1 {
	color: white;
	font-size: 4rem;
	font-weight: 300;
	line-height: 4rem;
}

p {
	font-size: 1.5rem;
}

h3 {
	font-size: 5.6rem;
	line-height: 6.6rem;
	font-weight: 300;
}
