@use "../helpers/" as *;

%card-sleeve {
	// position: relative;
	background-repeat: no-repeat;
	background-position: 90% -5%;

	// min-height: 246px;
}

.card {
	position: relative;
	// overflow: hidden;
	border-radius: 1.5rem;
	// display: flex;

	&__content {
		// margin-top: 41px;
		transform: translateY(45px);

		display: flex;
		flex-direction: column;

		gap: 2.4rem;

		// height: 100%;
		// width: 100%;

		// position: absolute;
		// bottom: 0;

		background-color: $dark-blue;
		// padding: 2.2rem;
		padding: 2.2rem;
		padding-bottom: 3rem;

		border-radius: 1.5rem; //FIXME:
		border: 7px solid white;

		//ss
		// padding: 2.5rem;
		// border: 7px solid $dark-blue;
		// height: 203px;

		&-title {
			display: flex;
			justify-content: space-between;
			align-items: center;
			p {
				font-size: 1.8rem;
				color: white;
			}
		}
		&-detail {
			h3 {
				color: white;
				margin-bottom: 5px;
			}
			p {
				color: $pale-blue;
			}
		}
	}

	&--work {
		background-image: url("../../assets/images/icon-work.svg");
		background-color: $light-red-work;
		@extend %card-sleeve;
	}
	&--play {
		background-image: url("../../assets/images/icon-play.svg");
		background-color: $soft-blue-play;
		@extend %card-sleeve;
	}
	&--study {
		background-image: url("../../assets/images/icon-study.svg");
		background-color: $light-red-study;
		@extend %card-sleeve;
	}
	&--exercise {
		background-image: url("../../assets/images/icon-exercise.svg");
		background-color: $lime-green-exercise;
		@extend %card-sleeve;
	}
	&--social {
		background-image: url("../../assets/images/icon-social.svg");
		background-color: $violet-social;
		@extend %card-sleeve;
	}
	&--self-care {
		background-image: url("../../assets/images/icon-self-care.svg");
		background-color: $soft-orange-self-care;
		@extend %card-sleeve;
	}
}
