@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Rubik", sans-serif;
}

body {
  box-sizing: border-box;
  background-color: #0f1424;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

h1 {
  color: white;
  font-size: 4rem;
  font-weight: 300;
  line-height: 4rem;
}
@media only screen and (max-width: 750px) {
  h1 {
    font-size: 2.4rem;
    line-height: 2.4rem;
  }
}

p {
  font-size: 1.5rem;
}

h3 {
  font-size: 5.6rem;
  line-height: 6.6rem;
  font-weight: 300;
}
@media only screen and (max-width: 1024px) {
  h3 {
    font-size: 4.4rem;
  }
}
@media only screen and (max-width: 750px) {
  h3 {
    font-size: 3.2rem;
  }
}

.container {
  min-height: calc(100vh - 20px);
  display: grid;
  place-items: center;
  padding: 7.2rem 2.4rem;
}
@media only screen and (max-width: 750px) {
  .container {
    display: block;
  }
}

.dashboard {
  max-width: 111rem;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-areas: "profile work play study" "profile exercise social self-care";
}
.dashboard .profile {
  grid-area: profile;
}
.dashboard .card--work {
  grid-area: work;
}
.dashboard .card--play {
  grid-area: play;
}
.dashboard .card--study {
  grid-area: study;
}
.dashboard .card--exercise {
  grid-area: exercise;
}
.dashboard .card--social {
  grid-area: social;
}
.dashboard .card--self-care {
  grid-area: self-care;
}
@media only screen and (max-width: 1024px) {
  .dashboard {
    grid-template-areas: "profile work play" "profile study exercise" "social self-care null";
  }
}
@media only screen and (max-width: 750px) {
  .dashboard {
    grid-template-areas: "profile" "work" "play" "study" "exercise" "social" "self-care";
  }
}

.card--self-care, .card--social, .card--exercise, .card--study, .card--play, .card--work {
  background-repeat: no-repeat;
  background-position: 90% -5%;
}

.card {
  position: relative;
  overflow: hidden;
  border-radius: 1.5rem;
}
.card__content {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #1c1f4a;
  padding: 2.2rem;
  padding-bottom: 3rem;
  border-radius: 1.5rem;
  border: 7px solid #1c1f4a;
  transition: 0.2s;
}
.card__content-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__content-title p {
  font-size: 1.8rem;
  color: white;
}
.card__content-title img:hover {
  filter: brightness(1.75);
}
.card__content-detail h3 {
  color: white;
  margin-bottom: 5px;
}
.card__content-detail p {
  color: #bdc1ff;
}
.card__content:hover {
  cursor: pointer;
  background-color: #4a53ba;
}
@media only screen and (max-width: 750px) {
  .card__content {
    gap: 0;
    padding: 2.2rem;
    padding-top: 2.5rem;
  }
  .card__content-detail {
    display: flex;
    justify-content: space-between;
    gap: 0.2rem;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 320px) {
  .card__content {
    border: 0;
  }
}
.card--work {
  background-image: url("../../assets/images/icon-work.svg");
  background-color: #ff8c66;
}
.card--play {
  background-image: url("../../assets/images/icon-play.svg");
  background-color: #56c2e6;
}
.card--study {
  background-image: url("../../assets/images/icon-study.svg");
  background-color: #ff5c7c;
}
.card--exercise {
  background-image: url("../../assets/images/icon-exercise.svg");
  background-color: #4acf81;
}
.card--social {
  background-image: url("../../assets/images/icon-social.svg");
  background-color: #7536d3;
}
.card--self-care {
  background-image: url("../../assets/images/icon-self-care.svg");
  background-color: #f1c65b;
}

.profile {
  background-color: #1c1f4a;
  border-radius: 1.5rem;
}
.profile__header {
  position: relative;
  padding: 3.4rem 2.9rem;
  padding-right: 7.5rem;
  padding-bottom: 10.4rem;
  background-color: #5847eb;
  border-radius: inherit;
  z-index: 10;
}
.profile__header img {
  width: 8rem;
  border: 0.3rem solid white;
  border-radius: 50%;
}
.profile__header-text {
  margin-top: 3.8rem;
}
.profile__header-text p {
  color: #bdc1ff;
}
.profile__header-text h1 {
  margin-top: 0.3rem;
}
.profile__tabs {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.1rem;
  padding: 2.6rem 3.2rem;
  padding-bottom: 3.2rem;
}
.profile__tabs button {
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
}
.profile__tabs .button {
  font-size: 1.8rem;
  color: #6f76c8;
  transition: 0.2s;
}
.profile__tabs .button--active {
  color: white;
}
.profile__tabs .button:hover {
  color: white;
}
@media only screen and (max-width: 750px) {
  .profile__header {
    padding: 3.1rem 2.9rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
  }
  .profile__header img {
    width: 6.4rem;
  }
  .profile__header-text {
    margin-top: 0;
  }
  .profile__tabs {
    flex-direction: row;
    justify-content: space-between;
    padding: 2.4rem 2.9rem;
  }
}
@media only screen and (max-width: 320px) {
  .profile__tabs .button {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=main.css.map */
